#sidebar {
    width: 260px !important;
    height: 100vh;
    background: #d63384 !important;
    color: white;
}
#template{
    display: flex;
}

#menubar .menu {
    color: white !important;

    background: rgba(255,255,255,0.15);

    margin-bottom: 10px;

    border-radius: 8px;

    padding: 12px 15px;
}

#menubar .menu:hover {
    background: rgba(255,255,255,0.30);
}

#menubar .menu.active {
    background: white !important;
    color: #d63384 !important;
}

#title {
    font-size: 30px;    font-weight: 700;
    color:white
}

#logout {
    background: white !important;
    color: #d63384 !important;
}

#children{
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    /* padding-top: 35px; */
    background-color: #f4f4f4;
    /* color: #d63384; */
}
